/*format dau tien*/
* {
  box-sizing: border-box;
  outline: none;
  font-family: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'UTM Avo Bold', 'UTM Avo Regular', 'UTM Avo';
}
body::-webkit-scrollbar{
  display: none;
}

/*main*/
.headertop{
  background-color: red;
}
.overview {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url("../img/u253.jpg");
  background-size: cover;
  color: white;
}
.overview .thuong-hieu {
  position: absolute;
  top: 184px;
  left: 10%;
  width: 550px;
  padding: 30px;
  background-color: rgba(7, 112, 183, .7);
  color: white;
}
.overview .thuong-hieu h1
{
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 20px;
}
.overview .thuong-hieu p{
  margin-top: 1em;
  height: 8em;
  border:  2px solid;
  padding: 20px;
  padding-bottom: 30px;
  box-sizing: content-box;
}
.overview span{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.tin-chinh{
  margin-top: 50px;
}
.tin-chinh aside{
  padding: 10px 20px;
}
.tin-chinh aside>div{
  box-shadow: 3px 3px 5px 3px #d5d5d5;
}
.tin-chinh aside.noi-dung div{
  padding: 15px;
  padding-bottom: 100px;
} 
.tin-chinh .noi-dung section img{
  width: 100%;
}
.tin-chinh .noi-dung h5{
  font-weight: 700;
  margin-top: 20px; 
}
.tin-chinh .bang-tin div{
  margin-top: 20px;
}
.tin-chinh .bang-tin div:first-child{
  margin-top: 0;
}
.tin-chinh .bang-tin h5{
  background: var(--blue-primary);
  padding: 10px;
  text-shadow:#d5d5d5;
  color: white;
}
.tin-chinh .bang-tin .danh-muc p{
  width: 100%;
  padding: 10px;
  display: flex;
}
.tin-chinh .bang-tin .ho-tro div{
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 10px;
}
.tin-chinh .bang-tin .ho-tro span{
  flex-shrink: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  background: #f58020; 
  align-items: center;
}
.tin-chinh .bang-tin .ho-tro div span img{
  width: 100%;
  height: 100%;
  transform: scale(0.6,0.6);
}
.tin-chinh .bang-tin .ho-tro  div p{
  width: calc(100% - 50px);
  margin: 0;
  word-break: break-all;
}
.tam-nhin {
  margin: 30px;
}
.tam-nhin  .thong-tin-ve-chung-toi{
  background-image: linear-gradient(rgba(11, 115, 183, 0.5),rgba(11, 115, 183, 0.5)), url('../img/u202.png');
  background-size: cover;
}
.tam-nhin  .thong-tin-ve-chung-toi div{
  justify-content: space-around;
  padding: 30px;
}
.tam-nhin  .thong-tin-ve-chung-toi section{
  border: 0.5px solid white;
  color: white;
  padding: 10px;
}
.tam-nhin  .thong-tin-ve-chung-toi section h5{
  font-weight: 400;
}
.tam-nhin  .thong-tin-ve-chung-toi section h5,.tam-nhin  .thong-tin-ve-chung-toi section h1{
  font-size: 1.5vw;
}

.tin-tuc{
  margin-top: 50px;
}
.tin-tuc section{
  padding: 10px;
}
.tin-tuc section img{
  width: 100%;
  height: 200px;
}
.tin-tuc section ul{
  padding: 0;
  margin: 0;
  height: 50px;
  width: 100%;
  overflow-x: hidden;
  display: flex;
}
.tin-tuc section li{
  display: inline-block;
  width: 50%;
  font-size: 14px;
  padding: 10px;
}
.tin-tuc section li i{
  color: #f58020;
  font-size: 22px;
}
.tin-tuc section h6, .tin-tuc section h6a{
  padding:10px;
  margin: 0;
}
.tin-tuc section h6{
  color:#1c699f;
}
.tin-tuc button{
  box-sizing: border-box;
  border: 1px solid #d6d6d6 !important;
  border-radius: 50%;
  outline: none;
  width: 20px;
  height: 20px;
  margin: 7px;
}
.tin-tuc button span{
  margin: 4px !important;
  width: 10px !important;
  height: 10px !important;
}

.tin-tuc button.active{
  border: 1px solid #1c699f !important;
}
.tin-tuc button.active span{
  background: #1c699f !important;
}

.dang-ky{
  background-image:   linear-gradient(rgba(7, 112, 183, 0.8), rgba(7, 112, 183, 0.8)),url('../img/u148.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
}
.dang-ky>h5{
  text-align: center;
  padding: 25px;
  background: rgb(7, 112, 183);
}
.dang-ky>div>h4{
  text-align: center;
  margin:40px;
}
.dang-ky>form{
  text-align: center;
}
.dang-ky>form> input{
  font-family: arial;
}
.dang-ky>form> input[type="text"]{
  width: 250px;
  height: 40px;
  margin:0 20px 20px;
  padding: 1em;
}
.dang-ky>form>input[type="submit"]{
  width: 94px;
  height: 38px;
  background: #f58020;
  color: white;
  border: none;
  font-family: 'Arial';
}
.dang-ky>form>input[type="submit"]:hover{
  border-radius: 5px;
  background-color: #0971b8;
  color: white;
  border: none;
  outline: none;
}
.dang-ky>form>input[type="submit"]:active{
  background: #f58020;
  color: white;
  border: none;
}

/*reponsive*/
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
  .overview {
    width: 100%;
    height: 400px;
    font-size: 12px;
  }

  .overview .thuong-hieu {

    left: 50%;
    top:50%;
    width: 80%;
    transform: translate(-50%,-50%);
    padding: 20px;
    left: 50%;
    padding: 20px;
    background-color: rgba(7, 112, 183, .7);
    color: white;
  }

  .thuong-hieu h1 {
    font-size: 8vw;
  }

  .thuong-hieu h2 {
    font-size: 4vw;
  }

  .overview-button {
    width: 150px;
    height: 46px;
    font-size: 12px;
  }
  .tin-chinh aside{
    padding: 10px 10px;
  }
  .doi-tac aside{
    margin-bottom: 0px;
  }
  .doi-tac aside:last-child{
    margin-bottom: 15px;
  }
  .doi-tac aside div{
    height: 150px;
  }
  .tin-tuc img{
    height: auto;
  }
}

@media only screen and (max-width: 576px) {

  .overview {
    height: 360px;
  }
  .overview .thuong-hieu {
    left: 50%;
    top:50%;
    width: 80%;
    transform: translate(-50%,-50%);
    padding: 20px;
  }

  .overview .thuong-hieu h1 {
    font-size: 6vw;
  }
  .overview .thuong-hieu h2 {
    font-size: 3vw;
  }
  .overview .thuong-hieu h1,
  h2 {
    margin-top: 0px;
  }
  .overview p {
    margin: 0px;
  }

  .overview .thuong-hieu button {
    width: 80px;
    height: 30px;
    margin-right: 20px;
    font-size: 7px;
    font-weight: 700;
  }
  .gia-tri-thuong-hieu section{
   border: none;
 }

 .thu-tuc{
  padding: 0;
}
.thu-tuc div{
  box-shadow: none;
}
.thu-tuc h5,p{
  margin: 0px 0px 15px;
}
.thu-tuc p{
  padding: 0;
}
.doi-tac aside{
  padding: 5px;
  margin:auto;
  width: 90%;
}
.doi-tac aside div{
  height: auto;
}
.doi-tac figure img {
  width: 80px;
  height: 40px;
  margin-top: 10px;
}
.tin-tuc p{
  height: auto;
  overflow-y:hidden;
}
.tin-tuc button{
  display: none !important; 
}
.dang-ky>div>h4{
  margin: 10px; 
}
.dang-ky{
  height: 230px;
}
.dang-ky>form> input[type="text"]{
  width: 145px;
  height: 25px;
  margin: 5px;
}
.dang-ky>form> input[type="submit"]{
  margin: 20px;
}
}
