.doitac{
	background-image:  linear-gradient(rgba(7, 112, 183, 0.8), rgba(7, 112, 183, 0.8)),url("images/u3.jpg");
	background-size: cover;
	color: white;
}
.doitac div h4{
	text-align: center;
	padding-top: 40px;
}
.doitac hr{
    width: 100px;
    height: 1px;
    margin-top: 0;
    background-color:  #c58c5f;
}
.doitac div h6{
	text-align: center;
}
.doitac figure{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.doitac figure img {
	width: 128px;
	height: 66px;
	background-color: white;
}
.doitac aside{
	padding: 20px;
	margin-bottom: 50px;
}
.doitac aside div{
	border: 1px solid;
	height: 150px;
}
.doitac aside div h6{
	margin-top: 10px;
	font-weight: bold;
}
.doitac aside div p{
	margin: 10px;
}