.tintuc{
	margin-top: 50px;
}
.tintuc>div>article>div{
	margin-top: 50px;
	height: 450px;
}
.tintuc article{
	padding: 10px;
}
.tintuc article img{
	width: 100%;
	height: 200px;
}
.tintuc article ul{
	padding: 0;
	margin: 0;
}
.tintuc article li{
	display: inline-block;
	padding: 10px;
}
.tintuc article li i{
	color: #f58020;
	font-size: 24px;
}
.tintuc article h6,p{
	padding:10px;
	margin: 0;
}
.tintuc article h6{
	color:#1c699f;
}
.tintuc span{
	color:#1c699f;
}
.tintuc form{
	text-align: center;
}