:root{
  --tieu-de-xanh:#0770B7;
  --light: white;
  --font-mem:'UTM Avo Bold', 'UTM Avo Regular', 'UTM Avo';
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'UTM Avo Bold', 'UTM Avo Regular', 'UTM Avo';
}
body::-webkit-scrollbar {
  display: none;
}
/*thu vien buton*/
.red-span{
  color: red;
}
.gray-span{
  color: DarkGrey;
}

/*header*/
.headertop{
  background-color: #0871b5;
}
/*chỉnh cái thanh mau xah tren cung*/
.headertop>div{
  text-align: right;
}
.headertop img{
  width: 30px;
  height: 20px;
}
.headertop ul{
  list-style-type: none;
  display: inline-block;
  padding-left: 50px;
  padding-bottom: 0;
  box-sizing: border-box;
}
.headertop li{
  display: inline-block;
  color: white;
}
.headertop i{
  color: #ea8631;
  font-size: 17px;
  margin-left: 120px;
  margin-top: 10px;
}
.headertop .fa-phone{
  font-size: 24px;
  position: relative;
  top:5px;
}
/*navbar*/
.navbar-brand{
  width: 50%;
}
.navbar .navbar-brand img {
  width: 220px;
  height: 53px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
  background-color: white !important;
}
nav button i{
  color: #146f9c;
}
.collapse.navbar-collapse{
  margin: 0;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .nav-link{
  font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  color: #0770B7;
  margin-right: 20px;
}
.nav-link:hover{
  filter: brightness(50%);
}
.dropdown-item:hover{
  background-color:#f9f9f9; 
  color:#0770B7; 
}

/*main*/
#lien-he-home{
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('lien-he-img/u668.jpg');
  background-size: cover;
  background-position: center;
  height: 15vw;
  position: relative;
}
#lien-he-home span{
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%,0);
  color: var(--light);
}

.lien-he {
  margin-top: 30px;
}
.lien-he h3{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-family: var(--font-mem);
}
.lien-he aside {
  font-family: var(--font-mem);
}
.lien-he aside h5{
  margin: 20px;
  font-weight: 700;
  text-decoration: underline;
}
.lien-he aside input{
  width: 80%;
  padding: .5em;
}
.lien-he aside textarea{
  width: 80%;
  padding: .5em;
  margin-top: 20px;
  height: 150px;
  max-height: 300px;
  padding: 1em;
}
.lien-he .noscroll{
  overflow: hidden;
  resize: none;
}
.lien-he .hiddendiv{
  display: none;
  white-space: pre-wrap;
  width: 80%;
  min-height: 150px;
  padding: 1em;
  overflow-x: wrap;
  word-wrap: break-word;
}
.lien-he .lbr {
  line-height: 2em;
}
.lien-he aside input[type="submit"]{
  width: 100px;
  position: relative;
  left: 40%;
  transform: translate(-50%);
  margin-top: 20px;
}
.lien-he aside img{
  width: 100%;
}
.lien-he form>input[type="submit"]{
  width: 94px;
  height: 38px;
  background: #f58020;
  color: white;
  border: none;
  font-family: 'Arial';
  border-radius: 5px;
}
.lien-he form>input[type="submit"]:hover{
  border-radius: 5px;
  background-color: #0971b8;
  color: white;
  border: none;
  outline: none;
}
.lien-he form>input[type="submit"]:active{
  background: #f58020;
  color: white;
  border: none;
}

.dang-ky{
  margin-top: 30px;
  font-family: var(--font-mem);
  background-image:   linear-gradient(rgba(7, 112, 183, 0.8), rgba(7, 112, 183, 0.8)),url('lien-he-img/u148.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
}
.dang-ky>h5{
  text-align: center;
  padding: 25px;
  background: rgb(7, 112, 183);
}
.dang-ky>div>h4{
  text-align: center;
  margin:40px;
}
.dang-ky>form{
  text-align: center;
}
.dang-ky>form> input{
  font-family: arial;
}
.dang-ky>form> input[type="text"]{
  width: 250px;
  height: 40px;
  margin:0 20px 20px;
  padding: 1em;
}
.dang-ky>form>input[type="submit"]{
  width: 94px;
  height: 38px;
  background: #f58020;
  color: white;
  border: none;
  font-family: 'Arial';
}
.dang-ky>form>input[type="submit"]:hover{
  border-radius: 5px;
  background-color: #0971b8;
  color: white;
  border: none;
  outline: none;
}
.dang-ky>form>input[type="submit"]:active{
  background: #f58020;
  color: white;
  border: none;
}


footer{
  margin-top: 50px;
}
footer div.col-md-4{
  padding: 50px;
}
footer img{
  width: 100%;
  margin-bottom: 10px;
}
footer p{
  margin-top: 10px;
}
footer h5{
  margin-bottom: 30px;
}
/*xong cot 1*/
.loaidichvu{
  padding: 30px
}
.loaidichvu p{
  padding: 0;
  font-size: 14px;
  margin-top: 15px;
}
.loaidichvu hr{
  padding: 0px 0px;
  margin: 2px; 
}
.hotrokhachhang h6{
  margin-top:20px;
  margin-bottom: 2px;
}
footer ul{
  margin-top: 0px;
  word-break: break-all;
}
#socialnetwork{
  list-style-type: none;  
}
#socialnetwork li{
  display: inline-block;
  color: #646464;
  margin-right: 20px;
  width: 35px;
  height:35px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
}
#socialnetwork li i{
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}
footer> h5 {
  background-color: #0870b7;
  text-align: center;
  color: white;
  margin:0;
}

.TitleUnderLine {
  color: #1c699f;
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 2px solid #c58c5f;
  font-weight: 700;
}
/*reponsive*/
@media only screen and (max-width: 992px) {
  .headertop ul{
    padding-left: 10px;
  }
  .headertop i{
    margin-left: 40px;
  }
  .lien-he aside input{
    width: 100%;
    padding: .5em;
  }
  .lien-he aside textarea{
    width: 100%;
    padding: .5em;
  }
  .lien-he aside input[type="submit"]{
  left: 50%;
  transform: translate(-50%);
}


}
@media only screen and (max-width: 768px) {
  footer div.col-md-4{
    padding: 10px;
  }
}

@media only screen and (max-width: 576px) {
  h1 {     font-size: 12px;
  }

  h2 {  font-size: 12px;
  }

  h3 {font-size: 12px;
  }

  h4 {font-size: 12px;
  }

  h5 {font-size: 12px;
  }

  h6 {font-size: 12px;
  }

  body {font-size: 12px;
  }

  .truongphatnavbar{
    padding: 0px;
  }
  .navbar .navbar-brand img {
    width: 180px;
    height: 40px;
  }

  .nav-item{
    background-color: #0770B7;
    font-size: 10px;
  }

  .navbar.navbar-expand-lg.navbar-light.bg-light .nav-item:hover{
    background-color: white;
  }
  .navbar.navbar-expand-lg.navbar-light.bg-light .nav-link
  {
    font-size: 12px;
    margin: 0px;
    color: white;
    padding: 10px;
  }
  .navbar.navbar-expand-lg.navbar-light.bg-light .nav-link:hover{
    color:  #0770B7 !important;
    z-index: 1000;
  }
  #navbarSupportedContent{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 100;
    align-self: right;
    margin:0px;
    padding: 0px;
  }
  .headertop div ul:first-child{
    display: none;
    color: red;
  }
  .headertop img{
    margin-top: 10px;
  }
  .truongphatnavbar img{
    width: 150px;
    height: 50px
  }
  .dang-ky>div>h4{
    margin: 10px; 
  }
  .dang-ky{
    height: 230px;
  }
  .dang-ky>form> input[type="text"]{
    width: 145px;
    height: 25px;
    margin: 5px;
  }
  .dang-ky>form> input[type="submit"]{
    margin: 20px;
  }
}
