footer{
	margin-top: 50px;
}
footer div.col-md-4{
	padding: 20px;
}
footer img{
	width: 80%;
}
footer p{
	margin-top: 10px;
}
/*xong cot 1*/
.loaidichvu{
	padding: 30px
}
.loaidichvu h5{
	margin-bottom: 30px;
}
.loaidichvu p{
	padding: 0;
}
.loaidichvu hr{
	padding: 0px 5px;
}

.hotrokhachhang h5{
	margin-bottom: 30px;
}
.hotrokhachhang h6{
	margin-top:20px;
	margin-bottom: 2px;
}
footer ul{
	margin-top: 0px;
}
#socialnetwork{
	list-style-type: none;	
}
#socialnetwork li{
	display: inline-block;
	color: #646464;
	margin-right: 20px;
	width: 35px;
	height:35px;
	border-radius: 50%;
	text-align: center;
	border: 1px solid black;
}
#socialnetwork li i{
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}
footer> h5 {
	background-color: #0870b7;
	text-align: center;
	color: white;
	margin:0;
}