.headertop{
	background-color: #0871b5;
}
.headertop>div{
	text-align: right;
}
.headertop img{
	width: 30px;
	height: 20px;
}
.headertop ul{
	list-style-type: none;
	display: inline-block;
	padding-left: 50px;
	padding-bottom: 0;
	box-sizing: border-box;
}
.headertop li{
	display: inline-block;
	color: white;
}
.headertop i{
	color: #ea8631;
	font-size: 17px;
	margin-left: 120px;
	margin-top: 10px;
}
.headertop .fa-phone{
	font-size: 24px;
	position: relative;
	top:5px;
}
/*navbar*/
.navbar-brand{
	width: 50%;
}
.navbar .navbar-brand img {
	width: 220px;
	height: 53px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
	background-color: white !important;
}
nav button i{
	color: #146f9c;
}
.collapse.navbar-collapse.col-6{
	margin: 0;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .nav-link{
	font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto';
	font-weight: 700;
	font-size: 16px;
	font-style: normal;
	color: #0770B7;
	margin-right: 20px;
}
.nav-link:hover{
	filter: brightness(50%);
}
.dropdown-item:hover{
	background-color:#f9f9f9; 
	color:#0770B7; 
}