.TitleUnderLine {
    color: #1c699f;
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 2px solid #c58c5f;
    font-weight: 700;
}
@media only screen and (max-width: 1000px) {
    .headertop ul{
        padding-left: 10px;
    }
    .headertop i{
        margin-left: 40px;
    }
}
@media only screen and (max-width: 700px) {
    .overview {
        width: 100%;
        height: 378px;
        font-size: 12px;
    }
    .prev,
    .next {
        display: none;
    }

    .thuonghieu {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 90%;
        height: 300px;
        transform: translate(-50%, 0);
        padding: 20px;
        background-color: rgba(7, 112, 183, .7);
        color: white;
    }

    .thuonghieu h1 {
        font-size: 8vw;
    }

    .thuonghieu h2 {
        font-size: 4vw;
    }

    .overview-button {
        width: 150px;
        height: 46px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {     font-size: 12px;
    }

    h2 {  font-size: 12px;
    }

    h3 {font-size: 12px;
    }

    h4 {font-size: 12px;
    }

    h5 {font-size: 12px;
    }

    h6 {font-size: 12px;
    }

    body {font-size: 12px;
    }
    .truongphatnavbar{
        padding: 0px;
    }
    .navbar .navbar-brand img {
        width: 180px;
        height: 40px;
    }

    .nav-item{
        background-color: #0770B7;
        font-size: 10px;
    }

    .navbar.navbar-expand-lg.navbar-light.bg-light .nav-item:hover{
        background-color: white;
    }
    .navbar.navbar-expand-lg.navbar-light.bg-light .nav-link
    {
      font-size: 12px;
      margin: 0px;
      color: white;
      padding: 10px;
  }
  .navbar.navbar-expand-lg.navbar-light.bg-light .nav-link:hover{
    color:  #0770B7 !important;
    z-index: 1000;
}
#navbarSupportedContent{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 100;
    align-self: right;
    margin:0px;
    padding: 0px;
}

.thuonghieu {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 300px;
    height: 200px;
    transform: translate(-50%, 0);
    padding: 20px;
    background-color: rgba(7, 112, 183, .7);
    color: white;
}

.thuonghieu h1 {
    font-size: 6vw;
}

.thuonghieu h2 {
    font-size: 3vw;
}
.thuonghieu h1,
h2 {
  margin-top: 0px;
}
.noidungthuonghieu {
  margin: 0px;
}

.overview-button {
    width: 80px;
    height: 30px;
    margin-right: 20px;
    font-size: 7px;
    font-weight: 700;
}
.giatrithuonghieu section{
 border: none;
}

.gioithieuthuonghieu-package-content-img img,
.dichvu-package-content-img img {
    width: 100%;
    height: auto;
}
.thutuc{
    padding: 0;
}
.thutuc div{
    box-shadow: none;
}
.thutuc h5,p{
    margin: 0px 0px 15px;
}
.headertop div ul:first-child {
    display: none;
    color: red;
}
.headertop img{
    margin-top: 10px;
}
.truongphatnavbar img{
    width: 150px;
    height: 50px
}
.doitac aside{
    padding: 0px;
    margin-top: 10px;
}
.doitac figure img {
    width: 80px;
    height: 40px;
    margin-top: 10px;
}
.tintuc form{
    display: none;
}
.dangky>div>h4{
    margin: 10px; 
}
.dangky{
    height: 230px;
}
.dangky>form> input[type="text"]{
    width: 145px;
    height: 25px;
    margin: 5px;
}
.dangky>form> input[type="submit"]{
    margin: 20px;
}
}
