* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'UTM Avo Bold', 'UTM Avo Regular', 'UTM Avo';
}
body::-webkit-scrollbar {
  display: none;
}

.TitleUnderLine {
	color: #1c699f;
	width: fit-content;
	padding-bottom: 10px;
	border-bottom: 2px solid #c58c5f;
	font-weight: 700;
}
.TitleOrange{
	color: #f58020;
}

/*header*/
.headertop{
	background-color: #0871b5;
}
.headertop>div{
	text-align: right;
}
.headertop img{
	width: 30px;
	height: 20px;
}
.headertop ul{
	list-style-type: none;
	display: inline-block;
	padding-left: 50px;
	padding-bottom: 0;
	box-sizing: border-box;
}
.headertop li{
	display: inline-block;
	color: white;
}
.headertop i{
	color: #ea8631;
	font-size: 17px;
	margin-left: 120px;
	margin-top: 10px;
}
.headertop .fa-phone{
	font-size: 24px;
	position: relative;
	top:5px;
}
/*navbar*/
.navbar-brand{
	width: 50%;
}
.navbar .navbar-brand img {
	width: 220px;
	height: 53px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
	background-color: white !important;
}
nav button i{
	color: #146f9c;
}
.collapse.navbar-collapse{
	margin: 0;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .nav-link{
	font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto';
	font-weight: 700;
	font-size: 16px;
	font-style: normal;
	color: #0770B7;
	margin-right: 20px;
}
.nav-link:hover{
	filter: brightness(50%);
}
.dropdown-item:hover{
	background-color:#f9f9f9; 
	color:#0770B7; 
}

/*main*/
#vechungtoicarousel{
	background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url('vechungtoiImg/u194.jpg');
	background-size: cover;
	background-position: center;
	height: 20vw;
	position: relative;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
#vechungtoicarousel span{
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translate(-50%,0);
	color: white;
}

/*gioi thieu thuong hieu*/
.ve-cong-ty aside {
	margin-bottom: 30px;
}
.ve-cong-ty aside img {
	width: 100%;
	height: auto;
	margin: auto;
}
.ve-cong-ty aside h3,
.ve-cong-ty aside h4,
.ve-cong-ty aside h5,
.ve-cong-ty aside h6 {
	font-weight: 700;
	margin-top: 10px;
}
.ve-cong-ty aside button {
	margin-top: 10px;
	padding: 10px 35px ;
	border-radius: 5px;
	background-color: #0971b8;
	color: white;
	border: none;
	outline: none;
}
.ve-cong-ty aside button:hover{
	background: #f58020;
	border: none;
	border-radius: 5px;
}
.ve-cong-ty aside button:active{
	background-color: inherit;
	border: 1px solid #0971b8;
	color:   #0971b8;
	transition: 0.5;
}

/*ly-do-chon-chung-toi*/
.ly-do-chon-chung-toi{
	background-color: rgba(204, 204, 204, 0.219607843137255);
	padding-bottom: 30px;
}
.ly-do-chon-chung-toi h6{
	text-align: center;
}
.ly-do-chon-chung-toi h4{
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.ly-do-chon-chung-toi section{
	margin-top: 30px;
	margin-bottom: 30px;
}
.ly-do-chon-chung-toi section img{
	width: 100%;
}

.chat-luong-dich-vu {
	text-align: center;
}
.chat-luong-dich-vu img {
	width: 40%;
	margin: 20px;
	text-align: center;
}
.chat-luong-dich-vu h6 {
	font-weight: bold;
	text-align: center;
}
.chat-luong-dich-vu section p{
	text-align: left;
}

.tam-nhin img{
	display: none;
}
.tam-nhin .tam-nhin-cua-chung-toi{
	background-image: url('vechungtoiImg/u172.jpg');
	background-size: cover;
	background-position: center;
	color: white;
}
.tam-nhin  .tam-nhin-cua-chung-toi-content{
	padding: 80px;
	position: relative;
	left: 40%;
}
.tam-nhin .tam-nhin-cua-chung-toi-content h5{
	color:white;
}

.tam-nhin  .thong-tin-ve-chung-toi{
	background-image: linear-gradient(rgba(11, 115, 183, 0.5),rgba(11, 115, 183, 0.5)), url('vechungtoiImg/u202.png');
	background-size: cover;
}
.tam-nhin  .thong-tin-ve-chung-toi div{
	justify-content: space-around;
	padding: 30px;
}
.tam-nhin  .thong-tin-ve-chung-toi section{
	border: 0.5px solid white;
	color: white;
	padding: 10px;
}
.tam-nhin  .thong-tin-ve-chung-toi section h5{
	font-weight: 400;
}
.tam-nhin  .thong-tin-ve-chung-toi section h5,.tam-nhin  .thong-tin-ve-chung-toi section h1{
	font-size: 1.5vw;
}

/*footer*/
footer{
	margin-top: 50px;
}
footer div.col-md-4{
	padding: 30px;
}
footer img{
	width: 100%;
	margin-bottom: 10px;
}
footer p{
	margin-top: 10px;
}
footer h5{
	margin-bottom: 30px;
}
/*xong cot 1*/
.loaidichvu{
	padding: 30px
}
.loaidichvu p{
	padding: 0;
	font-size: 14px;
	margin-top: 15px;
}
.loaidichvu hr{
	padding: 0px 0px;
	margin: 2px; 
}
.hotrokhachhang h6{
	margin-top:20px;
	margin-bottom: 2px;
}
footer ul{
	margin-top: 0px;
	word-break: break-all;
}
#socialnetwork{
	list-style-type: none;	
}
#socialnetwork li{
	display: inline-block;
	color: #646464;
	margin-right: 20px;
	width: 35px;
	height:35px;
	border-radius: 50%;
	text-align: center;
	border: 1px solid black;
}
#socialnetwork li i{
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}
footer> h5 {
	background-color: #0870b7;
	text-align: center;
	color: white;
	margin:0;
}
/*reponsive*/
@media only screen and (max-width: 992px) {
	.headertop ul{
		padding-left: 10px;
	}
	.headertop i{
		margin-left: 40px;
	}
	.doi-tac figure img {
		margin-top: 10px;
	}
	.doi-tac aside div{
		height: 180px;
	}

}
@media only screen and (max-width: 768px) {
	h1 {  font-size: 20px;
	}

	h2 {  font-size: 18px;
	}

	h3 {font-size: 17px;
	}

	h4 {font-size: 16px;
	}

	h5 {font-size: 15px;
	}

	h6 {font-size: 14px;
	}

	body {font-size: 14px;
	}
	.ve-cong-ty aside img {
		max-height: 300px;
	}
	.tam-nhin  .tam-nhin-cua-chung-toi-content{
		padding: 50px;
		position: relative;
		left: 30%;
	}
	footer div.col-md-4{
		padding: 10px;
	}

}

@media only screen and (max-width: 576px) {
	h1 {  font-size: 18px;
	}

	h2 {  font-size: 16px;
	}

	h3 {font-size: 15px;
	}

	h4 {font-size: 14px;
	}

	h5 {font-size: 13px;
	}

	h6 {font-size: 12px;
	}

	body {font-size: 12px;
	}
	.headertop div ul:first-child {
		display: none;
		color: red;
	}
	.truongphatnavbar{
		padding: 0px;
	}
	.navbar .navbar-brand img {
		width: 180px;
		height: 40px;
	}

	.nav-item{
		background-color: #0770B7;
		font-size: 10px;
	}

	.navbar.navbar-expand-lg.navbar-light.bg-light .nav-item:hover{
		background-color: white;
	}
	.navbar.navbar-expand-lg.navbar-light.bg-light .nav-link
	{
		font-size: 12px;
		margin: 0px;
		color: white;
		padding: 10px;
	}
	.navbar.navbar-expand-lg.navbar-light.bg-light .nav-link:hover{
		color:  #0770B7 !important;
		z-index: 1000;
	}
	#navbarSupportedContent{
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 100;
		align-self: right;
		margin:0px;
		padding: 0px;
	}
	
	.headertop img{
		margin-top: 10px;
	}
	.truongphatnavbar img{
		width: 150px;
		height: 50px
	}
	.ve-cong-ty aside img {
		max-height: 150px;
	}
	.tam-nhin  .tam-nhin-cua-chung-toi-content{
		font-size: 8px;
		padding: 10px;
		position: relative;
	}
	.tam-nhin  .thong-tin-ve-chung-toi section{
		width: 100%;
		border: none;
		margin-top: 10px;
		padding: 0;
	}
	.tam-nhin  .thong-tin-ve-chung-toi section h5{
		font-size: 12px;
	}
	.tam-nhin  .thong-tin-ve-chung-toi section h1{
		font-size: 14px;
		font-weight: 700;
	}

}